.text {
  color: red;
}

header {
  background-color: #EC715F;
  height: 70px;
  width: 100%;
  text-align: center;
}

.nav {
  display: inline-flex;
  justify-content: center;
  width: 1024px;
  height: 70px;
}

ul {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  list-style: none;
  height: 70px;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 27px 30px 0 30px;
  font-size: 16px;
  color: #FAFAFA;
}

.nav-img {
  margin-right: auto;
}

body {
  background-color: black;
}

main {
  height: 650px;
  width: 100%;
  background-image: url("img/mv.png");
  background-size: contain;
  text-align: center;
}

.main-text:first-child {
  margin: 0;
  padding-top: 200px;
  font-size: 64px;
  color: #FAFAFA;
}

.main-text {
  margin: 0;
  padding-top: 10px;
  font-size: 20px;
  color: #FAFAFA;
}